@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");

:root {
    --green-color: #81C242;
    --orange-color: #F7991D;
    --pink-color: #F05759;
    --blue-color: #7FD0E3;
    --dark-color: #2F3A3E;
    --muted-text-color: #F8F9FB;
    --text-color: #FDFDFD;
}

:root {
    font-size: 125%;
    font-family: "Lato", "Roboto", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: var(--dark-color);
    background-color: var(--text-color);
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
