
header,
footer,
main {
    margin: 0 auto;
}

@media screen and (min-width: 1200px) {
    header,
    footer,
    main {
        max-width: 1024px;
    }

    .projects-slider-container {
        width: 1024px;
    }

    .portfolio-header,
    .education-header,
    .sertificates-header,
    footer {
        font-size: 1.2rem;
        padding: 10px 20px;
    }

    .project-description {
        width: 512px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 641px) {
    header,
    footer,
    main {
        width: 85vw;
    }

    .projects-slider-container {
        width: 85vw;
    }
    .header-social__link {
        font-size: 4vw;
    }
    .project-description {
        padding: 1rem 1.2rem 1em 5.5rem;
    }
    .project-description__project-name {
        padding: 1.2rem;
    }
    .project-description__project-props {
        font-size: 0.8rem;
        line-height: 1.7;
        padding: 1.2rem;
    }
}
@media screen and (max-width: 840px) {
    .project-description {
        padding: 1rem 1.1rem 1em 5.5rem;
    }
    .project-description__project-name {
        padding: 1.1rem;
    }
    .project-description__project-props {
        font-size: 0.7rem;
        line-height: 1.7;
        padding: 1.1rem;
    }
}
@media screen and (max-width: 768px) {
    .project-description {
        display: none;
        width: 100%;
        padding: 2.5rem;
    }
    .project-description__project-name {
        padding: 1.1rem;
    }
    .project-description__project-props {
        font-size: 0.7rem;
        padding: 1.1rem;
    }
    .glide__arrows {
        display: none;
    }
    .projects-slider__mobile-description-handler-check ~ .glide .project-description {
        display: none;
    }
    .projects-slider-container::before {
        content: 'swipe to see next';
        font-size: 1rem;
        padding: 0.5rem;
    }
    .projects-slider__mobile-description-handler{
        font-size: 1rem;
        padding: 0.5rem;
        display: block;
    }
}

@media screen and (max-width: 640px) {
    header,
    footer,
    main {
        width: 100vw;
    }

    .header-main>* {
        margin: .1em 0.5em;
    }
    .header-photo {
        border-radius: 100%;
        display: inline-block;
        width: 100px;
        height: 100px;
        border: 8px solid var(--text-color);
    }
    .header-name {
        font-size: 1.5rem;
    }
    .header-social {
        padding: .5rem;
    }
    .header-social__link {
        font-size: 5vw;
    }

    .education-places,
    .sertificates-list {
        padding: 20px 48px 50px 50px;
    }

    .projects-slider-container {
        width: 99vw;
    }
}



